<section id="home">
  <div class="container-fluid d-none d-md-block">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/img/Foot5-01.jpg" alt="first" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/Foot5-02.jpg" alt="second" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/Foot5-03.jpeg" alt="third" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/Foot5-04.jpg" alt="fourth" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/Foot5-05.jpg" alt="fifth" class="item">
      </ng-template>
    </ngb-carousel>
  </div>
</section>